
.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #404040;
  padding: 10px;
  display: flex;
  flex-direction: column;
  .pdfView {
    overflow: scroll;
    flex: 1;
    .page {
      margin: 0 auto;
    }
    .page + .page {
      margin-top: 8px;
    }
  }
}
